*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #2c3e50;
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}
.heading{
    color: #fff;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    margin-bottom:10px;
}
.container{
 width: 1100px;
 margin: 0 auto;
 text-align: center;
}
.card{
    width: 40%;
    padding: 10px;
    margin: 0 auto;
    box-shadow:0 14px 28px 0 rgba(115,143,147,.5)
}
.container input{
    border: none;
    width: 100%;
    background: #34495e;
    border-bottom: rgb(255, 255, 255);
    font-size: 1.2rem;
    padding: 10px;
    color: #fff;
    margin-bottom: 20px;
}
.btn{
    font-size: 1.2rem;
    padding: 5px;
    margin: 5px;
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: beige;
    margin-bottom: 10px;

}
.find{
    background-color: #27ae60;
}
.reset{
    background: #f1c40f;
}
.result{
    font-size: 1.2rem;
    text-align: left;
    color:#fff;
}
.footer{
    color: #fff;
    font-size: 1rem;
}


@media (max-width:800px){
    .container{
        width: 100%;
    }
    .card{
        width: 100%;
     
    }
    .btn{
        width: 80%;
        font-size: 1.5rem;
    }
    .heading{
        font-size: 0.8rem;
    }
   
}